<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: head">

    </head>
    <body>
        <div th:replace="fragments/navbar :: navbar">
        </div>

        <div class="contents container light-gray-bg" style="border: 1px solid #f3f3f3;">

            <h3>Game Tournaments</h3>
            <div class="panel">
                <div class="text-right">
                    <a th:href="@{/admin/tournaments/create}" class="btn btn-default btn-sm">Create Tournament</a>
                </div>
                <div th:if="${tournaments.isEmpty()}">No Tournaments</div>
                <div th:if="${!tournaments.isEmpty()}">
                    <table class="table table-striped">
                        <tr>
                            <th>Game</th>
                            <th>Match Size</th>
                            <th>Platform</th>
                            <th>Region</th>
                            <th>Pot Amount</th>
                            <th>Wager Amount</th>
                            <th>Status</th>
                            <th>Scheduled Time</th>
                            <th></th>
                            <!--<th>Start Time</th>-->
                            <!--<th>End Time</th>-->
                        </tr>
                        <tr th:each="tournament : ${tournaments}">
                            <td th:text="${tournament.tournamentInfo.gameEnum}"></td>
                            <td th:text="${tournament.tournamentInfo.matchSize}"></td>
                            <td th:text="${tournament.tournamentInfo.platform}"></td>
                            <td th:text="${tournament.tournamentInfo.region}"></td>
                            <td th:text="${tournament.tournamentInfo.potAmount}"></td>
                            <td th:text="${tournament.tournamentInfo.wagerAmountPerMember}"></td>
                            <td th:text="${tournament.tournamentInfo.tournamentStatus}"></td>
                            <td th:text="${tournament.tournamentInfo.getScheduledTournamentTimeForFE(user.getUserInfo().getTimeZone())}"></td>
                            <td><a class="btn btn-default btn-sm" th:href="@{'/tournaments/' + ${tournament.pk}}">View</a></td>
                            <!--<td th:text="${#temporals.format(tournament.tournamentInfo.tournamentStartTime, 'MM-dd-yyyy hh:mm a')}"></td>-->
                            <!--<td th:text="${#temporals.format(tournament.tournamentInfo.tournamentEndTime, 'MM-dd-yyyy hh:mm a')}"></td>-->
                        </tr>
                    </table>
                </div>
            </div>

        </div>

        <div th:replace="fragments/footer :: footer">

        </div>
    </body>
</html>