<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div class="nav-container" th:fragment="navbar">
            <!-- header-container start -->
            <div class="header-container">

                <!-- header-top start -->
                <!-- classes:  -->
                <!-- "dark": dark version of header top e.g. class="header-top dark" -->
                <!-- "colored": colored version of header top e.g. class="header-top colored" -->
                <!-- ================ -->
                <div class="header-top dark ">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-3 col-sm-6 col-md-9">
                                <!-- header-top-first start -->
                                <!-- ================ -->
                                <div class="header-top-first clearfix">
                                    <ul class="social-links circle small clearfix hidden-xs">
                                        <li class="twitter"><a target="_blank" href="https://twitter.com/NLGOnline"><i class="fa fa-twitter"></i></a></li>
                                        <li class="facebook"><a target="_blank" href="https://www.facebook.com/NLGOnline/"><i class="fa fa-facebook"></i></a></li>
                                        <!--<li class="youtube"><a target="_blank" ><i class="fa fa-youtube-play"></i></a></li>-->
                                        <li class="instagram"><a target="_blank" href="https://www.instagram.com/nlgonline/"><i class="fa fa-instagram"></i></a></li>
                                        <!--    <li class="linkedin"><a target="_blank" ><i class="fa fa-linkedin"></i></a></li>
                                            <li class="googleplus"><a target="_blank" ><i class="fa fa-google-plus"></i></a></li>
                                            <li class="flickr"><a target="_blank" ><i class="fa fa-flickr"></i></a></li>
                                            <li class="pinterest"><a target="_blank" ><i class="fa fa-pinterest"></i></a></li>-->
                                    </ul>
                                    <div class="social-links hidden-lg hidden-md hidden-sm circle small">
                                        <div class="btn-group dropdown">
                                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i class="fa fa-share-alt"></i></button>
                                            <ul class="dropdown-menu dropdown-animation">
                                                <li class="twitter"><a target="_blank" href="https://twitter.com/NLGOnline"><i class="fa fa-twitter"></i></a></li>
                                        <li class="facebook"><a target="_blank" href="https://www.facebook.com/NLGOnline/"><i class="fa fa-facebook"></i></a></li>
                                                <!--<li class="youtube"><a target="_blank" ><i class="fa fa-youtube-play"></i></a></li>-->
                                                <li class="skype"><a target="_blank" href="https://www.instagram.com/nlgonline/"><i class="fa fa-instagram"></i></a></li>
                                                <!--    <li class="linkedin"><a target="_blank" ><i class="fa fa-linkedin"></i></a></li>
                                                        <li class="googleplus"><a target="_blank" ><i class="fa fa-google-plus"></i></a></li>
                                                        <li class="flickr"><a target="_blank" ><i class="fa fa-flickr"></i></a></li>
                                                        <li class="pinterest"><a target="_blank" ><i class="fa fa-pinterest"></i></a></li> -->
                                            </ul>
                                        </div>
                                    </div>
                                    <!--                                    <div class="social-links hidden-lg hidden-md hidden-sm circle small">
                                                                            <div class="btn-group dropdown">
                                                                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i class="fa fa-share-alt"></i></button>
                                                                                <ul class="dropdown-menu dropdown-animation">
                                                                                </ul>
                                                                            </div>
                                                                        </div>-->
                                    <!--        <ul class="list-inline hidden-sm hidden-xs">
                                                <li><i class="fa fa-map-marker pr-5 pl-10"></i>One Infinity Loop Av, Tk 123456</li>
                                                <li><i class="fa fa-phone pr-5 pl-10"></i>+12 123 123 123</li>
                                                <li><i class="fa fa-envelope-o pr-5 pl-10"></i> theproject@mail.com</li>
                                            </ul> -->
                                </div>
                                <!-- header-top-first end -->
                            </div>
                            <div class="col-xs-9 col-sm-6 col-md-3">

                                <!-- header-top-second start -->
                                <!-- ================ -->
                                <div id="header-top-second"  class="clearfix">

                                    <!-- header top dropdowns start -->
                                    <!-- ================ -->
                                    <div class="header-top-dropdown text-right">
                                        <div class="btn-group dropdown" sec:authorize="isAuthenticated()">
                                            <div style="display:inline-block;">
                                                <a th:href="@{/}" class="dropdown-toggle btn btn-default btn-sm" style="width:135px !important;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa fa-user pr-5"></i> <span style="display:inline;max-width:40px !important;" sec:authentication="name"></span> <div class="caret"></div>
                                                </a>
                                                <ul class="dropdown-menu2 dropdown-menu dropdown-menu-left dropdown-animation" role="menu" style="background: white; min-width:135px !important;padding:0px !important;">
                                                    <li><a th:href="@{/dashboard}"> Dashboard</a></li>
                                                    <li><a th:href="@{/account}"> Account</a></li>
                                                    <li><a th:href="@{'/' + ${#authentication.name} + '/profile/'}"> Profile</a></li>
                                                    <li><a th:href="@{'/' + ${#authentication.name} + '/teams/'}"> Teams</a></li>
                                                    <!--                                                    <li><a th:href="@{'/' + ${#authentication.name} + '/matches/'}"> Matches</a></li>
                                                                                                        <li><a th:href="@{'/' + ${#authentication.name} + '/tournaments/'}"> Tournaments</a></li>-->
                                                    <li><a th:href="@{'/' + ${#authentication.name} + '/invites/'}"> Invites</a></li>
                                                    <!--                                                    <li><a th:href="@{'/' + ${#authentication.name} + '/disputes/my-disputes'}"> Disputes</a></li>-->
                                                    <li><a th:href="@{/logout }"> Logout</a></li>
                                                </ul>
                                            </div>

                                            <div style="display:inline-block;">
                                                <a th:href="@{/}" class="dropdown-toggle btn btn-default btn-sm" style="width:115px !important;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                    <!--th:text="${user.getBank().totalAmount}"--><i class="fa fa-usd pr-10"></i> <span id="totalAmountInBankAccount" style="display:inline;max-width:40px !important;padding-right:5px !important;"></span> <span class="caret"></span>
                                                </a>
                                                <ul class="dropdown-menu2 dropdown-menu dropdown-menu-right dropdown-animation" role="menu" style="background: white; min-width:115px !important;max-width:115px !important;padding:0px !important;">
                                                    <li><a th:href="@{/shop}">Deposit Cash</a></li>
                                                    <li><a th:href="@{/bank/account/withdraw}">Withdraw Cash</a></li>
                                                    <li><a th:href="@{/bank/account/transfer}">Transfer Cash</a></li>
                                                    <li><a th:href="@{/account/bank}">Transactions</a></li>
                                                </ul>
                                            </div>

                                        </div>


                                        <div class="btn-group" sec:authorize="!isAuthenticated()">
                                            <a th:href="@{/register}" class="btn btn-default btn-sm">
                                                <i class="fa fa-user pr-10"></i> Sign Up
                                            </a>
                                        </div>
                                        <div class="btn-group dropdown" sec:authorize="!isAuthenticated()">
                                            <button type="button" class="btn dropdown-toggle btn-default btn-sm" data-toggle="dropdown"><i class="fa fa-lock pr-10"></i> Login</button>
                                            <ul class="dropdown-menu dropdown-menu-right dropdown-animation">
                                                <li>
                                                    <form th:action="@{/login}" id="loginForm2" th:object="${loginDetailsPojo}" method="post" class="login-form margin-clear">
                                                        <div class="form-group has-feedback">
                                                            <label class="control-label">Username</label>
                                                            <input type="text" class="form-control" placeholder="" name="username" autofocus="autofocus"/>
                                                            <i class="fa fa-user form-control-feedback"></i>
                                                        </div>
                                                        <div class="form-group has-feedback">
                                                            <label class="control-label">Password</label>
                                                            <input type="password" class="form-control" placeholder="" id="password" name="password" />
                                                            <i class="fa fa-lock form-control-feedback"></i>
                                                        </div>
                                                        <div class="form-group has-feedback text-center">
                                                            <!--<label class="control-label">-->
                                                                <div class="checkbox">
                                                                    <label class="control-label">
                                                                        <input type="checkbox" name="remember-me" checked="checked" /> <span> Remember Username</span>
                                                                    </label>
                                                                </div>
                                                            <!--</label>-->
                                                        </div>
                                                        <!--                                                        <div class="form-group">
                                                                                                                    <div class="col-sm-offset-2 col-sm-10">
                                                                                                                        <div class="checkbox">
                                                                                                                            <label>
                                                                                                                                <input type="checkbox"/> <span> Remember me</span>
                                                                                                                            </label>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                </div>-->
                                                        <button type="submit" class="btn btn-gray btn-sm login-menu-btn-margin">Log In</button>
                                                        <!--                                                        <span class="pl-5 pr-5">or</span>
                                                                                                                <a th:href="@{/register}" class="btn btn-default btn-sm">Sign Up</a>-->
                                                        <div>
                                                        </div>
                                                        <div>
                                                            <a th:href="@{/username/forgot}" class="forgot-btn">Forgot your username?</a>
                                                        </div>
                                                        <div>
                                                            <a th:href="@{/password/forgot}" class="forgot-btn">Forgot your password?</a>
                                                        </div>
                                                    </form>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--  header top dropdowns end -->
                                </div>
                                <!-- header-top-second end -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- header-top end -->


                <!-- header start -->
                <!-- classes:  -->
                <!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
                <!-- "dark": dark version of header e.g. class="header dark clearfix" -->
                <!-- "full-width": mandatory class for the full-width menu layout -->
                <!-- "centered": mandatory class for the centered logo layout -->
                <!-- ================ --> 
                <header class="header  fixed    clearfix">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 ">
                                <!-- header-first start -->
                                <!-- ================ -->
                                <div class="header-first clearfix">

                                    <!-- header dropdown buttons -->
                                    <!--<div class="header-dropdown-buttons visible-xs">-->
                                    <!--                                        <div class="btn-group dropdown">
                                                                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-search"></i></button>
                                                                                <ul class="dropdown-menu dropdown-menu-right dropdown-animation">
                                                                                    <li>
                                                                                        <form role="search" class="search-box margin-clear">
                                                                                            <div class="form-group has-feedback">
                                                                                                <input type="text" class="form-control" placeholder="Search" />
                                                                                                <i class="icon-search form-control-feedback"></i>
                                                                                            </div>
                                                                                        </form>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>-->
                                    <!--                                        <div class="btn-group dropdown">
                                                                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-bell"></i><span class="cart-count default-bg">8</span></button>
                                                                                <ul class="dropdown-menu dropdown-menu-right dropdown-animation cart">
                                                                                    <li>
                                                                                        <table class="table table-hover">
                                                                                            <thead>
                                                                                                <tr>
                                                                                                    <th class="quantity">QTY</th>
                                                                                                    <th class="product">Product</th>
                                                                                                    <th class="amount">Subtotal</th>
                                                                                                </tr>
                                                                                            </thead>
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td class="quantity">2 x</td>
                                                                                                    <td class="product"><a>Android 4.4 Smartphone</a><span class="small">4.7" Dual Core 1GB</span></td>
                                                                                                    <td class="amount">$199.00</td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td class="quantity">3 x</td>
                                                                                                    <td class="product"><a>Android 4.2 Tablet</a><span class="small">7.3" Quad Core 2GB</span></td>
                                                                                                    <td class="amount">$299.00</td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td class="quantity">3 x</td>
                                                                                                    <td class="product"><a>Desktop PC</a><span class="small">Quad Core 3.2MHz, 8GB RAM, 1TB Hard Disk</span></td>
                                                                                                    <td class="amount">$1499.00</td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td class="total-quantity" colspan="2">Total 8 Items</td>
                                                                                                    <td class="total-amount">$1997.00</td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                        <div class="panel-body text-right">
                                                                                            <a class="btn btn-group btn-gray btn-sm">View Cart</a>
                                                                                            <a class="btn btn-group btn-gray btn-sm">Checkout</a>
                                                                                        </div>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>-->
                                    <!--</div>-->
                                    <!-- header dropdown buttons end-->

                                    <!-- logo -->
                                    <div id="logo" class="logo" style="width: 70px;">
                                        <a th:href="@{/}">
                                            <picture>
                                                <source media="(min-width: 0px) and (max-width: 1500px)" srcset="https://storage.googleapis.com/nlg-template-img/logo/croptest.png" />
                                                <img style=" margin-left:43% !important;margin-top:-13% !important;" id="logo_img" src="https://storage.googleapis.com/nlg-template-img/logo/croptest_1_70x70.png" />
                                            </picture>
                                        </a>
                                    </div>
                                         

                                    <!-- name-and-slogan 
                                    <div class="site-slogan">
                                        Competitive Tournaments
                                    </div> -->

                                </div>
                                <!-- header-first end -->

                            </div>
                            <div class="col-md-9">

                                <!-- header-second start -->
                                <!-- ================ -->
                                <div class="header-second clearfix">

                                    <!-- main-navigation start -->
                                    <!-- classes: -->
                                    <!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
                                    <!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
                                    <!-- "with-dropdown-buttons": Mandatory class that adds extra space, to the main navigation, for the search and cart dropdowns -->
                                    <!-- ================ -->
                                    <div class="main-navigation  animated with-dropdown-buttons">

                                        <!-- navbar start -->
                                        <!-- ================ -->
                                        <nav class="navbar navbar-default navbar-header-bold" role="navigation">
                                            <div class="container-fluid">

                                                <!-- Toggle get grouped for better mobile display -->
                                                <div class="navbar-header">
                                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                                                        <span class="sr-only">Toggle navigation</span>
                                                        <span class="icon-bar"></span>
                                                        <span class="icon-bar"></span>
                                                        <span class="icon-bar"></span>
                                                    </button>

                                                </div>

                                                <!-- Collect the nav links, forms, and other content for toggling -->
                                                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                                                    <!-- main-menu -->
                                                    <ul class="nav navbar-nav navbar-header-bold">

                                                        <!-- mega-menu start -->
                                                        <li>
                                                            <a th:href="@{/matches}">Matchfinder</a>
                                                        </li>
                                                        <!-- mega-menu end -->
                                                        <li>
                                                            <a th:href="@{/tournaments}">Tournaments</a>
                                                        </li>
                                                        <!-- mega-menu start -->
                                                        <li class="dropdown ">
                                                            <a th:href="@{/leaderboards}" class="dropdown-toggle" data-toggle="dropdown">Leaderboards</a>
                                                            <ul class="dropdown-menu">
                                                                <li><a th:href="@{/leaderboards}">Global User Ranks</a></li>
                                                                <li ><a th:href="@{/leaderboards/ww2/xbox1}">WWII Teams - Xbox One</a></li>
                                                                <li ><a th:href="@{/leaderboards/ww2/ps4}">WWII Teams - Playstation 4</a></li>
                                                            </ul>
                                                        </li>
                                                        <!--
                                                                                                                <li>
                                                                                                                    <a th:href="@{/support}" class="dropdown-toggle">Support/Rules</a>
                                                                                                                </li>-->

                                                        <li class="dropdown ">
                                                            <a th:href="@{/support}" class="dropdown-toggle" data-toggle="dropdown">Support</a>
                                                            <ul class="dropdown-menu">
                                                                <li><a th:href="@{/news}">News</a></li>
                                                                <li ><a th:href="@{/support}">FAQ</a></li>
                                                                <li ><a th:href="@{/rules/general}">Rules</a></li>
                                                                <li ><a th:href="@{/dashboard}">Disputes</a></li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <a th:href="@{/shop}">Shop</a>

                                                        </li>
                                                    </ul>
                                                    <!-- main-menu end -->

                                                    <!-- header dropdown buttons -->
                                                    <div class="header-dropdown-buttons">
                                                        <!--                                                        <div class="btn-group dropdown">
                                                                                                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-search"></i></button>
                                                                                                                    <ul class="dropdown-menu dropdown-menu-right dropdown-animation">
                                                                                                                        <li>
                                                                                                                            <form role="search" class="search-box margin-clear">
                                                                                                                                <div class="form-group has-feedback">
                                                                                                                                    <input type="text" class="form-control" placeholder="Search" />
                                                                                                                                    <i class="icon-search form-control-feedback"></i>
                                                                                                                                </div>
                                                                                                                            </form>
                                                                                                                        </li>
                                                                                                                    </ul>
                                                                                                                </div>-->
                                                        <div class="btn-group dropdown">
                                                            <!--<form th:action="@{'/' + ${#authentication.name} + '/notifications/'}" method="get">-->

                                                            <a th:href="@{'/' + ${#authentication.name} + '/notifications'}" sec:authorize="isAuthenticated()" class="btn dropdown-toggle" style="color:#777777 !important;"><i class="icon-bell-1"></i> <span id="notificationNumber"></span></a>

                                                            <!--</form>-->
                                                            <!--                                                            <ul class="dropdown-menu dropdown-menu-right dropdown-animation cart">
                                                                <li>
                                                                    <table class="table table-hover">
                                                                        <thead>
                                                                            <tr>
                                                                                <th class="quantity">QTY</th>
                                                                                <th class="product">Product</th>
                                                                                <th class="amount">Subtotal</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td class="quantity">2 x</td>
                                                                                <td class="product"><a>Android 4.4 Smartphone</a><span class="small">4.7" Dual Core 1GB</span></td>
                                                                                <td class="amount">$199.00</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td class="quantity">3 x</td>
                                                                                <td class="product"><a>Android 4.2 Tablet</a><span class="small">7.3" Quad Core 2GB</span></td>
                                                                                <td class="amount">$299.00</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td class="quantity">3 x</td>
                                                                                <td class="product"><a>Desktop PC</a><span class="small">Quad Core 3.2MHz, 8GB RAM, 1TB Hard Disk</span></td>
                                                                                <td class="amount">$1499.00</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td class="total-quantity" colspan="2">Total 8 Items</td>
                                                                                <td class="total-amount">$1997.00</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <div class="panel-body text-right">
                                                                        <a class="btn btn-group btn-gray btn-sm">View Cart</a>
                                                                        <a class="btn btn-group btn-gray btn-sm">Checkout</a>
                                                                    </div>
                                                                </li>
                                                            </ul>-->
                                                        </div>
                                                    </div>
                                                    <!-- header dropdown buttons end-->

                                                </div>

                                            </div>
                                        </nav>
                                        <!-- navbar end -->

                                    </div>
                                    <!-- main-navigation end -->
                                </div>
                                <!-- header-second end -->

                            </div>
                        </div>
                    </div>

                </header>
                <!-- header end -->

            </div>
            <!-- header-container end -->

        </div>
    </body>
</html>
