<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: head">

    </head>
    <body>

        <div th:replace="fragments/navbar :: navbar">
        </div>
        
            <div class="banner dark-translucent-bg" th:style="'background-image:url(https://storage.googleapis.com/cod-pics/xboxbg.jpg); background-position: 50% 35%;'">

            <!-- breadcrumb end -->
            <div class="container">
                <div class="row">
                    <div class="col-md-8 text-left">
                        <br />
                        <!--<h3 class="title logo-font object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">The <span class="text-default">Project</span> Inc.</h3>-->
                        <h1 class="title" style="text-transform:none !important;font-size:44px;">Reset Password</h1>
                        <div class="separator-2 object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
                        <p style="font-size:18px;" class="text-left object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">
                            Please enter your new password below.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="contents container">
            <div id="failureMessage" class="alert-anim-failure" style="display: none;" th:if="${invalid_token}" th:text="${message}">
            </div>
            <div id="failureMessage" class="alert-anim-failure" style="display: none;" th:if="${error}" th:text="${error}">
            </div>
            <div class="row" th:if="!${invalid_token}">
                <div class="col-md-6">
                    <!--error messages-->
                    
                    <form th:action="@{/password/reset}" th:object="${passwordResetForm}" method="post">
                        <div id="failureMessage" class="alert-anim-failure" style="display: none;" th:if="${#fields.hasErrors('*')}">
                            <div th:each="err : ${#fields.errors('*')}" th:text="${err}"></div>
                        </div>
                        <label>New Password</label>
                        <input type="password" class="form-control" name="newPassword" th:value="${passwordResetForm.newPassword}" />

                        <label>New Password Confirmation</label>
                        <input type="password" class="form-control" name="passwordConfirmation" th:value="${passwordResetForm.passwordConfirmation}" />
                        
                        <input type="hidden" name="token" th:value="${passwordResetForm.token}" />
                        <button class="btn btn-default radius-50 disabledOnClick">
                            Reset Password
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div th:replace="fragments/footer :: footer">

        </div>
    </body>
</html>
