<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: head">

    </head>
    <body>

        <div th:replace="fragments/navbar :: navbar">
        </div>

        <div class="banner dark-translucent-bg" th:style="'background-image:url(https://storage.googleapis.com/cod-pics/xboxbg.jpg); background-position: 50% 10%;'">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 text-left">
                        <br />
                        <!--                <h3>Edit Settings</h3>-->
                        <h1 class="title" style="text-transform:none !important;font-size:44px;">Game Specific Rules</h1>
                        <div class="separator-2 object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>

                        <p style="font-size:18px;">Each game below has a set rules that must be set and followed for every match.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="accountPage">
            <div class="contents container" style="border: 0px solid #f3f3f3;">

                <div class="status-option-links">
                    <ul>
                        <li><a th:href="@{/rules/general}">General Rules</a></li>
                        <li><a th:href="@{/rules/xp}">XP Matches</a></li>
                        <li><a th:href="@{/rules/cash}">Cash &amp; Tournament Matches</a></li>
                        <li class="active"><a th:href="@{/rules/game}">Game Specific Rules</a></li>
                        <!--<li><a th:href="@{/}">Upcoming</a></li>-->
                    </ul>
                </div>
                <br />
                <div class="vertical">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#vtab1" role="tab" data-toggle="tab"><i class="fa fa-gamepad pr-10"></i> Call of Duty: WWII</a></li>
                        <li><a href="#vtab3" role="tab" data-toggle="tab"><i class="fa fa-gamepad pr-10"></i>  Call of Duty: IW</a></li>
                        <li><a href="#vtab2" role="tab" data-toggle="tab"><i class="fa fa-gamepad pr-10"></i> Call of Duty: MWR</a></li>
                        <!--<li><a href="#vtab4" role="tab" data-toggle="tab"><i class="fa fa-file-o pr-10"></i> Well Documented</a></li>-->
                    </ul>
                    <!-- Tab panes -->
                    <div style="color:#1d2223" class="tab-content container">

                        <div id="successMessage" class="alert-anim-success" style="display: none;" th:if="${message}">
                            <div th:text="${message}"></div>
                        </div>
                        <div id="failureMessage" class="alert-anim-failure" style="display: none;" th:if="${error}">
                            <div th:text="${error}"></div>
                        </div>
                        <div class="tab-pane fade in active" id="vtab1">
                            *The host of the match must create the private lobby with "eSports Mode" selected.
                            <br/>
                            *The host must make sure all settings are correct prior to game start.
                            <br/>
                            *Both turrets and incendiary shells are restricted items.
                            <br/>
                            *All forms of DLC/supply drop/challenges guns are not allowed.
                            <br/>
                            <br/>
                            <p style="font-size:18px;font-weight:bold;text-decoration:underline"> Maps and Modes </p>
                            Search &AMP; Destroy:
                            <br/>
                            <div style="margin-left:10px">
                                • Ardennes Forest
                                <br/>
                                • London Docks
                                <br/>
                                • Saint Marie Du Mont
                                <br/>
                                • USS Texas
                            </div>
                            <br/>
                            Hardpoint:
                            <br/>
                            <div style="margin-left:10px">
                                • Ardennes Forest
                                <br/>
                                • Gibraltar
                                <br/>
                                • London Docks
                                <br/>
                                • Saint Marie Du Mont
                                <br/>
                                • USS Texas
                            </div>
                            <br/>
                            Capture The Flag:
                            <br/>
                            <div style="margin-left:10px">
                                • Ardennes Forest
                                <br/>
                                • Gibraltar
                                <br/>
                                • London Docks
                                <br/>
                                • Saint Marie Du Mont
                                <br/>
                                • USS Texas
                            </div>
                            <br/>
                            <br/>

                            <p style="font-size:18px;font-weight:bold;text-decoration:underline"> Global Settings </p>
                            General: 
                            <br/>
                            <div style="margin-left:10px">

                                • Pre-Match Timer: 15 Seconds
                                <br/>

                                • Pre-Round Timer: 5 Seconds
                                <br/>

                                • Team Switching: Enabled
                                <br/>

                                • Spectating: Team Only
                                <br/>

                                • Spectating POV:  First Person Only
                                <br/>

                                • Killcam: Enabled
                                <br/>

                                • Mini-Map Radar: Normal
                                <br/>

                                • Battle Chatter: Disabled
                                <br/>

                                • Announcer: Enabled
                                <br/>
                            </div>
                            <br/>
                            <br/>

                            <p style="font-size:18px;font-weight:bold;text-decoration:underline"> Search &AMP; Destroy Settings </p>
                            Game Rules: 
                            <br/>
                            <div style="margin-left:10px">

                                • Round Length: 1.5 minutes
                                <br/>

                                • Score Limit: 6 Points
                                <br/>

                                • Bomb Timer: 45 seconds
                                <br/>

                                • Plant Time: 5 seconds
                                <br/>

                                • Defuse Time:7.5 seconds
                                <br/>

                                • Multi Bomb: Disabled
                                <br/>

                                • Switch Sides: Every Round
                                <br/>

                                • Silent Plant: Enabled
                                <br/>

                                • CODCaster: Enabled
                                <br/>
                            </div>
                            <br/>

                            Spawn Settings:
                            <br/>
                            <div style="margin-left:10px">

                                • Respawn Delay: None
                                <br/>

                                • Force Respawn: Enabled
                                <br/>

                                • Wave Spawn Delay: Disabled
                                <br/>

                                • Suicide Penalty: None
                                <br/>

                                • Team Kill Penalty: None
                                <br/>
                            </div>
                            <br/>

                            Health and Damage:
                            <br/>
                            <div style="margin-left:10px">

                                • Hardcore Mode: Disabled
                                <br/>
                                • Health: Normal
                                <br/>
                                • Health Regeneration: Normal
                                <br/>
                                • Friendly Fire: Enabled
                                <br/>
                                • Number of Lives: 1 Life
                                <br/>
                                • Teamkill Kick Limit: Unlimited
                                <br/>
                                • Headshots Only: Disabled
                                <br/>
                                • Explosive Delay: 7.5 Seconds 
                                <br/>
                                • Scorestreak Delay: 15 Seconds
                                <br/>
                            </div>
<br/>




                            <br/>
                            <p style="font-size:18px;font-weight:bold;text-decoration:underline"> Hardpoint Settings </p>
                            Game Rules: 
                            <br/>
                            <div style="margin-left:10px">

                                • Time Limit: 5 minutes
                                <br/>

                                • Score Limit: 250 Points
                                <br/>

                                • Activation Delay: None
                                <br/>

                                • Location Order: Normal
                                <br/>
                                • CODCaster: Enabled
                                <br/>
                            </div>
                            <br/>

                            Spawn Settings:
                            <br/>
                            <div style="margin-left:10px">

                                • Respawn Delay: None
                                <br/>

                                • Force Respawn: Enabled
                                <br/>

                                • Wave Spawn Delay: Disabled
                                <br/>

                                • Suicide Penalty: 2.5 Seconds
                                <br/>

                                • Team Kill Penalty: None
                                <br/>
                            </div>
                            <br/>




                            Health and Damage:
                            <br/>
                            <div style="margin-left:10px">
                                • Hardcore Mode: Disabled
                                <br/>
                                • Health: Normal
                                <br/>
                                • Health Regeneration: Normal
                                <br/>
                                • Friendly Fire: Enabled
                                <br/>
                                • Number of Lives: Unlimited
                                <br/>
                                • Teamkill Kick Limit: Unlimited
                                <br/>
                                • Headshots Only: Disabled
                                <br/>
                                • Explosive Delay: 7.5 Seconds 
                                <br/>
                                • Scorestreak Delay: 15 Seconds
                                <br/>
                            </div>
                            <br/>
                            <br/>

                            <p style="font-size:18px;font-weight:bold;text-decoration:underline"> Capture The Flag Settings </p>
                            Game Rules: 
                            <br/>
                            <div style="margin-left:10px">

                                • Time Limit: 10 minutes
                                <br/>

                                • Capture Limit: Unlimited
                                <br/>

                                • Winning Condition: Flag Captures
                                <br/>

                                • Auto Return Time: 30 seconds
                                <br/>

                                • Pickup Time: None
                                <br/>

                                • Enemy Carrier: Delayed
                                <br/>

                                • Extra Time: 1 minute
                                <br/>

                                • CODCaster: Enabled
                                <br/>
                            </div>
                            <br/>

                            Spawn Settings:
                            <br/>
                            <div style="margin-left:10px">

                                • Respawn Delay: 7.5 Seconds
                                <br/>

                                • Force Respawn: Enabled
                                <br/>

                                • Wave Spawn Delay: Disabled
                                <br/>

                                • Suicide Penalty: None
                                <br/>

                                • Team Kill Penalty: None
                                <br/>
                            </div>
<br/>
                            Health and Damage:
                            <br/>
                            <div style="margin-left:10px">
                                • Hardcore Mode: Disabled
                                <br/>
                                • Health: Normal
                                <br/>
                                • Health Regeneration: Normal
                                <br/>
                                • Friendly Fire: Enabled
                                <br/>
                                • Number of Lives: Unlimited
                                <br/>
                                • Teamkill Kick Limit: Unlimited
                                <br/>
                                • Headshots Only: Disabled
                                <br/>
                                • Explosive Delay: 7.5 Seconds 
                                <br/>
                                • Scorestreak Delay: 15 Seconds
                                <br/>
                            </div>


                            <br/><br/>
                            <p style="font-size:18px;font-weight:bold;text-decoration:underline"> Restricted Items </p>
                            Banned Weapons: 
                            <br/>
                            <div style="margin-left:10px">

                                • All Launchers
                                <br/>

                                • Lewis
                                <br/>

                                • MG 15
                                <br/>

                                • Bren
                                <br/>

                                • MG 42
                                <br/>
                            </div>
                            <br/>

                            Banned Attachments:
                            <br/>
                            <div style="margin-left:10px">

                                • High Caliber
                                <br/>

                                • Rapid Fire
                                <br/>
                                • FMJ
                                <br/>
                            </div>
                            <br/>


                            Banned Scorestreaks:
                            <br/>
                            <div style="margin-left:10px">

                                • Recon Aircraft
                                <br/>

                                • Counter Recon Aircraft
                                <br/>

                                • Care Package
                                <br/>

                                • Emergency Airdrop
                                <br/>

                                • Paratroopers
                                <br/>
                                • Molotov Cocktail
                                <br/>
                            </div>
                            <br/>


                            Banned Basic Trainings:
                            <br/>
                            <div style="margin-left:10px">

                                • Espionage
                                <br/>

                                • Launched
                                <br/>

                                • Requisitions
                                <br/>

                                • Instincts
                                <br/>

                                • Rifleman
                                <br/>
                                • Lookout
                                <br/>

                                • Ordnance
                                <br/>

                                • Concussed
                                <br/>

                                • Bang
                                <br/>

                            </div>
                            <br/>


                            Banned Equipment: 
                            <br/>
                            <div style="margin-left:10px">

                                • S-Mine 44
                                <br/>

                                • Satchel Charge
                                <br/>
                            </div>
                            <br/>


                        </div>
                        <div class="tab-pane fade" id="vtab2">
                            *Although turrets and killstreaks should both be disabled, if they are not, only the team that uses them will be forfeited for that map.
                            <br/>
                            *Planting on top of the bomb will result in a forfeit of the map.
                            <br/>
                            *All forms of DLC/supply drop/challenges guns are not allowed.
                            <br/>
                            <br/>
                            <p style="font-size:18px;font-weight:bold;text-decoration:underline"> Maps and Modes </p>
                            Search &AMP; Destroy:
                            <br/>
                            <div style="margin-left:10px">
                                • Backlot
                                <br/>
                                • Crash
                                <br/>
                                • Crossfire
                                <br/>
                                • Overgrown (3v3/4v4 only)
                                <br/>
                                • Strike
                                <br/>
                                • Vacant 
                                <br/>
                                • District (1v1/2v2 only) 
                            </div>
                            <br/>
                            <br/>

                            <p style="font-size:18px;font-weight:bold;text-decoration:underline"> Global Settings </p>
                            General: 
                            <br/>
                            <div style="margin-left:10px">

                                • Pre-Match Timer: 15 Seconds
                                <br/>

                                • Pre-Round Timer: 5 Seconds
                                <br/>

                                • Team Switching: Enabled
                                <br/>

                                • Spectating: Team Only
                                <br/>

                                • Spectating POV:  First Person Only
                                <br/>

                                • Killcam: Enabled
                                <br/>

                                • Mini-Map Radar: Normal
                                <br/>

                                • Battle Chatter: Disabled
                                <br/>

                                • Announcer: Enabled
                                <br/>

                                • Sprint: Enabled
                                <br/>

                                • Turrets: Disabled
                                <br/>

                                • Streaks Persist Across Rounds: Disabled
                            </div>
                            <br/>
                            <!--<br/>-->

                            Spawn:
                            <br/>
                            <div style="margin-left:10px">

                                • Respawn Delay: None
                                <br/>
                                • Force Respawn: Enabled
                                <br/>
                                • Wave Spawn Delay: None
                                <br/>
                                • Suicide Penalty: None
                            </div>
                            <br/>
                            Health and Damage:

                            <br/>
                            <div style="margin-left:10px">
                                • Health: Normal
                                <br/>
                                • Health Regeneration: Normal
                                <br/>
                                • Friendly Fire: Enabled<br/>

                                • Number of Lives: Unlimited (Unless Said Otherwise)<br/>

                                • Team Kill Kick Limit: Unlimited
                                <br/>
                                • Headshots Only: Disabled
                                <br/>
                                • Explosive Delay: None
                            </div>
                            <br/>
                            <br/>

                            <p style="font-size:18px;font-weight:bold;text-decoration:underline"> Restricted Items </p>
                            Weapons:
                            <div style="margin-left:10px">
                                •  M21 
                                <br/>

                                •  BOS14 
                                <br/>

                                •  FANG45 
                                <br/>
                                •  PROKOLOT 
                                <br/>
                                •  All melee weapons
                                <br/>
                                •  All DLC weapons.    


                            </div>
                            <br/>
                            Weapon Attachments:
                            <div style="margin-left:10px">
                                •  Grenade Launcher  
                            </div>
                            <br/>
                            Perk #1 Bans: (Only Bandolier is allowed)
                            <div style="margin-left:10px">
                                •  Bombsquad
                                <br/>
                                •  Claymore x 2
                                <br/>
                                •  Special Grenades x 3
                                <br/>
                                •  Frag x 3
                                <br/>
                                •  RPG-7 x 2
                                <br/>
                                •  C4 x 2
                                <br/> 
                                •  Bombsquad
                                <br/>

                            </div>
                            <br/>
                            Perk #2 Bans:
                            <div style="margin-left:10px">
                                •  Sonic Boom

                            </div>
                            <br/>
                            Perk #3 Bans:
                            <div style="margin-left:10px">
                                •  Last Stand
                                <br/>
                                •  Matyrdom
                                <br/>
                                •  Eavesdrop
                                <br/>
                                •  Deep Impact
                            </div>
                            <br/>

                            Killstreaks:
                            <div style="margin-left:10px">
                                •  All killstreaks are banned
                            </div>
                            <br/>
                            <br/>

                            <p style="font-size:18px;font-weight:bold;text-decoration:underline"> Search &AMP; Destroy</p>
                            Game Options:
                            <div style="margin-left:10px">
                                • Round Length: 2.5 Minutes
                                <br/>
                                • Score Limit: 6 Points
                                <br/>
                                • Bomb Timer: 45 Seconds
                                <br/>
                                • Plant Timer: 7.5 Seconds
                                <br/>
                                • Defuse Time: 7.5 Seconds
                                <br/>
                                • Multi-Bomb: Disabled
                                <br/>
                                • Round Switch: Every Round
                                <br/>
                                • Silent Plant: Enabled
                                <br/>
                                • Number of Lives: 1 Life Per Round
                            </div>
                            <br/>

                        </div>
                        <div class="tab-pane fade" id="vtab3">
                            *Players must use a different rig than their team-mates. Using the same rig as your team-mate will result in a forfeit of the map.
                            <br/>
                            *Players are no longer allowed to switch rigs mid game. Doing so will result in a forfeit of the map. What you start out with when the game starts is what you need to use.
                            <br/>
                            *All forms of DLC/supply drop/challenges guns are not allowed.
                            <br/>
                            <br/>
                            <p style="font-size:18px;font-weight:bold;text-decoration:underline"> Maps and Modes</p>

                            Search &AMP; Destroy:
                            <div style="margin-left:10px">
                                • Crusher
                                <br/>
                                • Retaliation
                                <br/>
                                • Scorch
                                <br/>
                                • Throwback
                                <br/>
                                • Breakout
                                <br/>
                            </div>
                            <br/>
                            <br/>

                            <p style="font-size:18px;font-weight:bold;text-decoration:underline"> Global Settings</p>
                            Game Settings:
                            <div style="margin-left:10px">
                                • CODCaster: Enabled
                                <br/>
                            </div>
                            <br/>
                            Gameplay Settings:
                            <div style="margin-left:10px">
                                • Hardcore Mode: Disabled
                                <br/>
                                • Headshots Only: Disabled
                                <br/>
                                • Cranked Timer: Disabled
                                <br/>
                                • Double Jump: Challenge Option - Enabled by Default
                                <br/>
                                • Wall Run: Challenge Option - Enabled by Default
                                <br/>
                                • Allow Payloads: Enabled
                                <br/>
                                • Payload Charge Rate: Disabled
                                <br/>
                                • Payload Score Modifier: x8
                                <br/>
                                • Perks: Enabled
                                <br/>
                                • Scorestreaks: Enabled
                                <br/>
                                • Persistent Streaks: Disabled
                                <br/>
                                • CWL Tuning: Enabled

                            </div>
                            <br/>
                            Team Settings:
                            <div style="margin-left:10px">

                                • Spectating: Team Only
                                <br/>
                                • 3rd Person Spectating: Disabled
                                <br/>
                                • Killcam: Enabled
                                <br/>
                                • Radar Always On: No
                                <br/>
                                • Respawn Delay: None
                                <br/>
                                • Wave Spawn Delay: None
                                <br/>
                                • Force Respawn: Enabled
                                <br/>
                                • Friendly Fire: Enabled
                                <br/>
                                • Team Kill Punish Limit: Disabled

                            </div>
                            <br/>
                            Player Settings:
                            <div style="margin-left:10px">
                                • Number of Lives: Gamemode Specific
                                <br/>
                                • Max-Health: Normal
                                <br/>
                                • Health Regeneration: Normal
                            </div>
                            <br/>
                            <br/>

                            <p style="font-size:18px;font-weight:bold;text-decoration:underline"> Restricted Items</p>
                            Banned Payloads:
                            <div style="margin-left:10px">
                                • Reaper
                                <br/>
                                • Micro Turret
                                <br/>
                                • Phase Shift
                            </div>
                            <br/>
                            Banned Traits:
                            <div style="margin-left:10px">
                                • Ping
                                <br/>
                                • Persistence
                                <br/>
                                • Infusion
                                <br/>
                                • Supercharge
                                <br/>
                                • Perception
                                <br/>
                                • Relay
                                <br/>
                                • Marked Target
                                <br/>
                                • Heightened Senses
                                <br/>
                                • Rush-Down
                            </div>
                            <br/>
                            Banned Rigs:
                            <div style="margin-left:10px">
                                • Synaptic
                            </div>

                            <br/>
                            Banned Perks:
                            <div style="margin-left:10px">
                                • Overclock
                                <br/>
                                • Tracker
                                <br/>
                                • Pinpoint
                            </div>

                            <br/>
                            Banned Weapons:
                            <div style="margin-left:10px">
                                • All Launchers
                                <br/>
                                • All Weapon Variants
                                <br/>
                                • All LMGs
                                <br/>
                                • All Shotguns
                                <br/>
                                • All DLC Weapons
                                <br/>
                                • M1 Garand
                                <br/>
                                • Hailstorm
                                <br/>
                                • Hornet
                                <br/>
                                • R3k
                                <br/>
                                • OSA
                            </div>

                            <br/>
                            Banned Attachments:
                            <div style="margin-left:10px">
                                • Fusion Mag
                                <br/>
                                • Hollow Point/Faraday Slug
                                <br/>
                                • Ram Servo
                                <br/>
                                • Akimbo
                                <br/>
                                • Auto Sear
                                <br/>
                                • Tracking Chip  
                            </div>

                            <br/>
                            Banned Scorestreaks:
                            <div style="margin-left:10px">
                                • UAV
                                <br/>
                                • Drone Package
                                <br/>
                                • CUAV
                                <br/>
                                • Vulture
                                <br/>
                                • Shock Sentry
                                <br/>
                                • Advanced UAV
                            </div>

                            <br/>
                            Banned Lethals:
                            <div style="margin-left:10px">
                                • Plasma Grenade 
                                <br/>
                                • Seeker Grenade
                                <br/>
                                • Trip Mine
                                <br/>
                                • Exploding Drone
                                <br/>
                                • Black Hole Projector
                                <br/>
                                • C4
                            </div>

                            <br/>
                            Banned Tacticals:
                            <div style="margin-left:10px">
                                • Personal Radar
                                <br/>
                                • Dome Shield
                                <br/>
                                • Cryo Mine
                                <br/>
                                • Nano Shot
                            </div><br/><br/>

                            <p style="font-size:18px;font-weight:bold;text-decoration:underline"> Search &AMP; Destroy</p>
                            Game Settings:
                            <div style="margin-left:10px">
                                • Time Limit: 1.5 Minutes
                                <br/>
                                • Round Win Limit: 6 Rounds
                                <br/>
                                • Win By Two Rule: Disabled
                                <br/>
                                • Win By Two Max Rounds: 8 Rounds
                                <br/>
                                • Round Switch: Every Round
                                <br/>
                                • Cod Caster: Enabled
                            </div>
                            <br/>
                            Bomb Settings:
                            <div style="margin-left:10px">
                                • Bomb Timer: 45 Seconds
                                <br/>
                                • Plant Time: 5 Seconds
                                <br/>
                                • MultiBomb: Disabled
                                <br/>
                                • Silent Plant: Enabled
                            </div>

                            <br/>
                            Team Settings:
                            <div style="margin-left:10px">
                                • Number of Lives: 1 Life Per Round
                                <br/>
                                • Max Health: Normal
                                <br/>
                                • Health Regeneration: Normal
                            </div>

                            <br/>
                            Gameplay Settings:
                            <div style="margin-left:10px">
                                • Hardcore Mode: Disabled
                                <br/>
                                • Headshots Only: Disabled
                                <br/>
                                • Cranced Timer: Disabled
                                <br/>
                                • Double Jump: Challenge Option
                                <br/>
                                • Wallrun: Challenge Option
                                <br/>
                                • Allow Payloads: Enabled
                                <br/>
                                • Payload Charge Rate: Disabled
                                <br/>
                                • Payload Score Modifier: x8 
                                <br/>
                                • Perks: Enabled
                                <br/>
                                • Scorestreaks: Enabled
                                <br/>
                                • Persistent Scorestreaks: Disable
                            </div>

                        </div>

                    </div>

                </div>
                <br />
            </div>
        </div>

        <script>
            /*
             $(document).ready(function(){
             setTimeout(function() {
             activaTab('vtab2');
             }, 250);
             });
             
             function activaTab(tab){
             $('.nav-tabs a[href="#' + tab + '"]').tab('show');
             };
             */
        </script>
        <div th:replace="fragments/footer :: footer">

        </div>
    </body>
</html>
